<!doctype html>
<html>
	<head>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<!-- 	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 -->
		<script type="text/javascript" src="/js/photobooth_min.js"></script>
		<script type="text/javascript" src="/js/face.js"></script>
		<style type="text/css">
			#photo {
			    height: 300px;
			    width: 380px;
			}
			#gallery {
			    margin: 5px 0;
			    background: #f6f6f6;
			}
		</style>
	</head>
	<body>
		<div id="photo"></div>
		1. Mashape key: 
		<br/>&nbsp;&nbsp;&nbsp;
		<input type="text" id="mashapeKey" value="UQl7WSU4vYmshsupcwG99PV24uGvp1Qc7SqjsnZjaNTvz0zH74" />
		<br/>2. album: 
		<br/>&nbsp;&nbsp;&nbsp;
		<input type="text" id="album" value="srqsoftware" />
		<br/>3.albumkey: 
		<br/>&nbsp;&nbsp;&nbsp;
		<input type="text" id="albumkey" value="" />
		<div id="gallery"></div>
	</body>
</html>